################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/NumInputControl/.vs
/NumInputControl/NumInputControl/bin
/NumInputControl/NumInputControl/obj
/NumInputControl/TestApp/bin
/NumInputControl/TestApp/obj
